### 판다스 전처리

In [1]:
import pandas as pd

df = pd.read_csv("../data/JEJU_MCT_DATA_v2.csv", encoding="cp949")

In [2]:
df.columns

Index(['YM', 'MCT_NM', 'OP_YMD', 'MCT_TYPE', 'ADDR', 'UE_CNT_GRP',
       'UE_AMT_GRP', 'UE_AMT_PER_TRSN_GRP', 'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT',
       'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT', 'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT',
       'SUN_UE_CNT_RAT', 'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT',
       'HR_14_17_UE_CNT_RAT', 'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT',
       'LOCAL_UE_CNT_RAT', 'RC_M12_MAL_CUS_CNT_RAT', 'RC_M12_FME_CUS_CNT_RAT',
       'RC_M12_AGE_UND_20_CUS_CNT_RAT', 'RC_M12_AGE_30_CUS_CNT_RAT',
       'RC_M12_AGE_40_CUS_CNT_RAT', 'RC_M12_AGE_50_CUS_CNT_RAT',
       'RC_M12_AGE_OVR_60_CUS_CNT_RAT'],
      dtype='object')

In [25]:
df['ADDR']

0         제주 제주시 용담이동 2682-9번지 통큰돼지
1            제주 제주시 애월읍 애월리 410-6번지
2          제주 서귀포시 색달동 2315-1번지 한그릇
3           제주 제주시 한림읍 협재리 1459-2번지
4           제주 제주시 노형동 3784-12번지 1층
                    ...
67859         제주 제주시 연동 291-24번지 연동
67860    제주 제주시 구좌읍 종달리 1935-1번지 1층
67861           제주 제주시 노형동 1291-3번지
67862              제주 제주시 노형동 668번지
67863         제주 제주시 연동 260-21번지 1층
Name: ADDR, Length: 67864, dtype: object

In [24]:
df[df['MCT_NM'] == '조은님']

,YM,MCT_NM,OP_YMD,MCT_TYPE,ADDR,UE_CNT_GRP,UE_AMT_GRP,UE_AMT_PER_TRSN_GRP,MON_UE_CNT_RAT,TUE_UE_CNT_RAT,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
4523,202301,조은님,20070416,포장마차,제주 서귀포시 표선면 표선리 627번지,50~75%,25~50%,25~50%,0.200000,0.060000,...,0.460000,0.480000,0.592157,0.716,0.284,0.066,0.144,0.316,0.296,0.178
7211,202302,조은님,20070416,포장마차,제주 서귀포시 표선면 표선리 627번지,50~75%,50~75%,25~50%,0.058824,0.117647,...,0.470588,0.529412,0.604563,0.702,0.298,0.068,0.142,0.317,0.292,0.180
19043,202304,조은님,20070416,포장마차,제주 서귀포시 표선면 표선리 627번지,75~90%,50~75%,25~50%,0.187500,0.125000,...,0.562500,0.343750,0.591241,0.688,0.312,0.066,0.155,0.297,0.294,0.189
32731,202306,조은님,20070416,포장마차,제주 서귀포시 표선면 표선리 627번지,50~75%,25~50%,25~50%,0.044444,0.177778,...,0.466667,0.488889,0.607018,0.679,0.321,0.071,0.152,0.274,0.291,0.212
34352,202307,조은님,20070416,포장마차,제주 서귀포시 표선면 표선리 627번지,50~75%,50~75%,25~50%,0.146341,0.146341,...,0.609756,0.365854,0.627660,0.687,0.313,0.065,0.154,0.272,0.294,0.216
45212,202308,조은님,20070416,포장마차,제주 서귀포시 표선면 표선리 627번지,75~90%,50~75%,25~50%,0.111111,0.083333,...,0.611111,0.388889,0.620567,0.684,0.316,0.063,0.143,0.275,0.299,0.220
49447,202309,조은님,20070416,포장마차,제주 서귀포시 표선면 표선리 627번지,75~90%,50~75%,25~50%,0.088235,0.029412,...,0.500000,0.411765,0.637363,0.684,0.316,0.066,0.135,0.255,0.330,0.214
53039,202310,조은님,20070416,포장마차,제주 서귀포시 표선면 표선리 627번지,50~75%,50~75%,25~50%,0.113636,0.090909,...,0.590909,0.295455,0.636364,0.685,0.315,0.070,0.134,0.256,0.320,0.220
67061,202312,조은님,20070416,포장마차,제주 서귀포시 표선면 표선리 627번지,75~90%,50~75%,25~50%,0.096774,0.161290,...,0.548387,0.419355,0.634241,0.691,0.309,0.068,0.136,0.241,0.317,0.238

In [3]:
for i in df.columns[8:] :
    print(f"'{i}' : 'mean'", end=', ')

'MON_UE_CNT_RAT' : 'mean', 'TUE_UE_CNT_RAT' : 'mean', 'WED_UE_CNT_RAT' : 'mean', 'THU_UE_CNT_RAT' : 'mean', 'FRI_UE_CNT_RAT' : 'mean', 'SAT_UE_CNT_RAT' : 'mean', 'SUN_UE_CNT_RAT' : 'mean', 'HR_5_11_UE_CNT_RAT' : 'mean', 'HR_12_13_UE_CNT_RAT' : 'mean', 'HR_14_17_UE_CNT_RAT' : 'mean', 'HR_18_22_UE_CNT_RAT' : 'mean', 'HR_23_4_UE_CNT_RAT' : 'mean', 'LOCAL_UE_CNT_RAT' : 'mean', 'RC_M12_MAL_CUS_CNT_RAT' : 'mean', 'RC_M12_FME_CUS_CNT_RAT' : 'mean', 'RC_M12_AGE_UND_20_CUS_CNT_RAT' : 'mean', 'RC_M12_AGE_30_CUS_CNT_RAT' : 'mean', 'RC_M12_AGE_40_CUS_CNT_RAT' : 'mean', 'RC_M12_AGE_50_CUS_CNT_RAT' : 'mean', 'RC_M12_AGE_OVR_60_CUS_CNT_RAT' : 'mean',

In [4]:
df['UE_CNT_GRP'] = df['UE_CNT_GRP'].apply(lambda x : x.split("_")[1])
df['UE_AMT_GRP'] = df['UE_AMT_GRP'].apply(lambda x : x.split("_")[1])
df['UE_AMT_PER_TRSN_GRP'] = df['UE_AMT_PER_TRSN_GRP'].apply(lambda x : x.split("_")[1])

In [5]:
df_pp_ave_last = df.groupby(['MCT_NM', 'OP_YMD']).agg({
    'ADDR' : 'last', 'MCT_TYPE' : 'last',
    'UE_CNT_GRP' : 'last', 'UE_AMT_GRP' : 'last', 'UE_AMT_PER_TRSN_GRP' : 'last',
    'MON_UE_CNT_RAT' : 'mean', 'TUE_UE_CNT_RAT' : 'mean', 'WED_UE_CNT_RAT' : 'mean', 'THU_UE_CNT_RAT' : 'mean', 'FRI_UE_CNT_RAT' : 'mean', 'SAT_UE_CNT_RAT' : 'mean', 'SUN_UE_CNT_RAT' : 'mean', 
    'HR_5_11_UE_CNT_RAT' : 'mean', 'HR_12_13_UE_CNT_RAT' : 'mean', 'HR_14_17_UE_CNT_RAT' : 'mean', 'HR_18_22_UE_CNT_RAT' : 'mean', 'HR_23_4_UE_CNT_RAT' : 'mean', 
    'LOCAL_UE_CNT_RAT' : 'mean', 'RC_M12_MAL_CUS_CNT_RAT' : 'mean', 'RC_M12_FME_CUS_CNT_RAT' : 'mean', 
    'RC_M12_AGE_UND_20_CUS_CNT_RAT' : 'mean', 'RC_M12_AGE_30_CUS_CNT_RAT' : 'mean', 'RC_M12_AGE_40_CUS_CNT_RAT' : 'mean', 'RC_M12_AGE_50_CUS_CNT_RAT' : 'mean', 'RC_M12_AGE_OVR_60_CUS_CNT_RAT' : 'mean'}).reset_index()

In [6]:
df_pp_ave_last = df_pp_ave_last.drop(['OP_YMD'], axis=1 )

In [7]:
df_pp_ave_last = df_pp_ave_last.drop(df_pp_ave_last[df_pp_ave_last['ADDR'] == ' '].index, axis=0).reset_index(drop=True)

In [8]:
df_pp_ave_last['CITY'] = df_pp_ave_last['ADDR'].apply(lambda x : x.split(' ')[1])
df_pp_ave_last['REGION'] = df_pp_ave_last['ADDR'].apply(lambda x : x.split(' ')[2])

df_pp_ave_last = df_pp_ave_last.drop(['ADDR'], axis=1 )

In [9]:
df_pp_ave_last = df_pp_ave_last[['MCT_NM', 'MCT_TYPE', 'CITY', 'REGION', 'UE_CNT_GRP', 'UE_AMT_GRP', 'UE_AMT_PER_TRSN_GRP',
       'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT',
       'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT', 'SUN_UE_CNT_RAT',
       'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT', 'HR_14_17_UE_CNT_RAT',
       'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT', 'LOCAL_UE_CNT_RAT',
       'RC_M12_MAL_CUS_CNT_RAT', 'RC_M12_FME_CUS_CNT_RAT',
       'RC_M12_AGE_UND_20_CUS_CNT_RAT', 'RC_M12_AGE_30_CUS_CNT_RAT',
       'RC_M12_AGE_40_CUS_CNT_RAT', 'RC_M12_AGE_50_CUS_CNT_RAT',
       'RC_M12_AGE_OVR_60_CUS_CNT_RAT']]

In [10]:
df_pp_ave_last.head(1)

,MCT_NM,MCT_TYPE,CITY,REGION,UE_CNT_GRP,UE_AMT_GRP,UE_AMT_PER_TRSN_GRP,MON_UE_CNT_RAT,TUE_UE_CNT_RAT,WED_UE_CNT_RAT,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,(사)한국수상레저안전협회 제주제주시지부,분식,제주시,이호일동,90% 초과(하위 10% 이하),90% 초과(하위 10% 이하),상위 10% 이하,0.5,0.25,0.0,...,0.0,0.0,0.761905,0.801,0.199,0.0,0.2465,0.03575,0.362,0.35625

In [11]:
data = df_pp_ave_last.copy()

In [12]:
data.to_csv("data_avg_last.csv", index=False)

## 프롬프트 만들기

In [21]:
# test
# USER INPUT: '제주시 이호일동에 위치한 카페 중 이용건수구간이 상위 10% 이하에 속하는 곳은?'

condition_CITY = data["CITY"] == "제주시"
condition_REGION = data["REGION"] == "이호일동"
condition_REGION = data["MCT_TYPE"] == "커피"
condition_UE_CNT_GRP = data["UE_CNT_GRP"] == "상위 10% 이하"

data[condition_CITY & condition_REGION & condition_UE_CNT_GRP].sort_values(by="MON_UE_CNT_RAT", ascending=False).iloc[0]["MCT_NM"]

'더벤티 제주대학교점'

In [13]:
import pandas as pd
data = pd.read_csv("data_avg_last.csv")

In [14]:
data.head(1)

,MCT_NM,MCT_TYPE,CITY,REGION,UE_CNT_GRP,UE_AMT_GRP,UE_AMT_PER_TRSN_GRP,MON_UE_CNT_RAT,TUE_UE_CNT_RAT,WED_UE_CNT_RAT,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,(사)한국수상레저안전협회 제주제주시지부,분식,제주시,이호일동,90% 초과(하위 10% 이하),90% 초과(하위 10% 이하),상위 10% 이하,0.5,0.25,0.0,...,0.0,0.0,0.761905,0.801,0.199,0.0,0.2465,0.03575,0.362,0.35625

In [19]:
condition_CITY = data['CITY'] == '제주시'
condition_MCT_TYPE = data['MCT_TYPE'] == '포장마차'
#condition_HR_23_4_UE_CNT_RAT = data['HR_23_4_UE_CNT_RAT'] >= 0.07

data[condition_CITY & condition_MCT_TYPE].sort_values(by='RC_M12_AGE_OVR_60_CUS_CNT_RAT', ascending=False)

,MCT_NM,MCT_TYPE,CITY,REGION,UE_CNT_GRP,UE_AMT_GRP,UE_AMT_PER_TRSN_GRP,MON_UE_CNT_RAT,TUE_UE_CNT_RAT,WED_UE_CNT_RAT,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
1989,두루두루,포장마차,제주시,연동,50~75%,10~25%,10~25%,0.120583,0.133927,0.098654,...,0.862604,0.052176,0.265857,0.673167,0.326833,0.049333,0.162917,0.333083,0.344750,0.109833
931,꼬까삐,포장마차,제주시,도남동,50~75%,25~50%,25~50%,0.161326,0.139327,0.167008,...,0.727246,0.268031,0.909117,0.665875,0.334125,0.198500,0.385000,0.298750,0.101750,0.015500
8949,한신포차제주연동점,포장마차,제주시,연동,10~25%,10~25%,25~50%,0.142442,0.116913,0.108947,...,0.231520,0.642718,0.607723,0.570917,0.429083,0.593250,0.251750,0.080167,0.062083,0.012833
8948,한신포차 제주시청점,포장마차,제주시,이도이동,25~50%,25~50%,25~50%,0.127793,0.097878,0.106691,...,0.325002,0.674454,0.730136,0.504250,0.495750,0.638500,0.226750,0.069250,0.060125,0.005375

In [30]:
data[data['REGION'] == '표선면']['CITY'].unique()

array(['서귀포시'], dtype=object)

In [21]:
data[data['MCT_NM'] == '조은님']

,MCT_NM,MCT_TYPE,CITY,REGION,UE_CNT_GRP,UE_AMT_GRP,UE_AMT_PER_TRSN_GRP,MON_UE_CNT_RAT,TUE_UE_CNT_RAT,WED_UE_CNT_RAT,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
7203,조은님,포장마차,서귀포시,표선면,75~90%,50~75%,25~50%,0.116318,0.11019,0.148582,...,0.535546,0.413707,0.616797,0.690667,0.309333,0.067,0.143889,0.278111,0.303667,0.207444

In [4]:
from dotenv import load_dotenv

# 환경변수를 불러옴
load_dotenv()

True

In [103]:
SCHEMA = """
Data Columns (total 26 columns):

  # 기본정보
  MCT_NM: STRING. 가맹점명. ex) "토평골식당", 
  MCT_TYPE: STRING. 요식관련 30개업종. values) '가정식', '단품요리 전문', '커피', '베이커리', '일식', '치킨', '중식', '분식', '햄버거', '양식', '맥주/요리주점', '아이스크림/빙수', '피자', '샌드위치/토스트', '차', '꼬치구이', '기타세계요리', '구내식당/푸드코트', '떡/한과', '도시락', '도너츠', '주스', '동남아/인도음식', '패밀리 레스토랑', '기사식당', '야식', '스테이크', '포장마차', '부페', '민속주점'  
  CITY: STRING. 도시명. ex) "서귀포시", "제주시"
  REGION: STRING. 지역명. ex) "대포동", "서홍동", "대정읍"
  
  # 이용건수 정보
  UE_CNT_GRP: 이용건수구간. STRING. 월별 이용건수를 6개 구간으로 집계 시, 해당 가맹점의 이용건수가 포함되는 분위수 구간. values)'상위 10% 이하', '10~25%', '25~50%', '50~75%', '75~90%', '90% 초과(하위 10% 이하)'
  UE_AMT_GRP: 이용금액구간. STRING. 월별 이용금액을 6개 구간으로 집계 시, 해당 가맹점의 이용금액이 포함되는 분위수 구간. values)'상위 10% 이하', '10~25%', '25~50%', '50~75%', '75~90%', '90% 초과(하위 10% 이하)'
  UE_AMT_PER_TRSN_GRP: 건당 평균 이용금액 구간. STRING. 월별 건당 평균 이용금액을 6개 구간으로 집계 시, 해당 가맹점의 건당 평균 이용금액이 포함되는 분위수 구간. values)'상위 10% 이하', '10~25%', '25~50%', '50~75%', '75~90%', '90% 초과(하위 10% 이하)'
  MON_UE_CNT_RAT: 월요일 이용건수 비중. FLOAT. ex) 0.1262
  TUE_UE_CNT_RAT: 화요일 이용건수 비중. FLOAT. ex) 0.1262
  WED_UE_CNT_RAT: 수요일 이용건수 비중. FLOAT. ex) 0.1941
  THU_UE_CNT_RAT: 목요일 이용건수 비중. FLOAT. ex) 0.2233
  FRI_UE_CNT_RAT: 금요일 이용건수 비중. FLOAT. ex) 0.1553
  SAT_UE_CNT_RAT: 토요일 이용건수 비중. FLOAT. ex) 0.1747
  SUN_UE_CNT_RAT: 일요일 이용건수 비중. FLOAT. ex) 0.1818

  # 시간대별 정보
  HR_5_11_UE_CNT_RAT: 5시~11시 이용건수 비중. FLOAT. ex) 0.1650
  HR_12_13_UE_CNT_RAT: 12시~13시 이용건수 비중. FLOAT. ex) 0.5242
  HR_14_17_UE_CNT_RAT: 14시~17시 이용건수 비중. FLOAT. ex) 0.3107
  HR_18_22_UE_CNT_RAT: 18시~22시 이용건수 비중. FLOAT. ex) 0.0511
  HR_23_4_UE_CNT_RAT: 23시~4시 이용건수 비중. FLOAT. ex) 0.07313

  # 현지인 정보
  LOCAL_UE_CNT_RAT: 현지인 이용건수 비중. FLOAT. ex) 0.5843

  # 성별 정보
  RC_M12_MAL_CUS_CNT_RAT: 남성 이용건수 비중. FLOAT. ex) 0.634
  RC_M12_FME_CUS_CNT_RAT: 여성 이용건수 비중. FLOAT. ex) 0.366

  # 연령대별 정보
  RC_M12_AGE_UND_20_CUS_CNT_RAT: 20대 이하 이용건수 비중. FLOAT. ex) 0.066
  RC_M12_AGE_30_CUS_CNT_RAT: 30대 이용건수 비중. FLOAT. ex) 0.252
  RC_M12_AGE_40_CUS_CNT_RAT: 40대 이용건수 비중. FLOAT. ex) 0.398
  RC_M12_AGE_50_CUS_CNT_RAT: 50대 이용건수 비중. FLOAT. ex) 0.201
  RC_M12_AGE_OVR_60_CUS_CNT_RAT: 60대 이상 이용건수 비중. FLOAT. ex) 0.083

"""

EXAMPLE = """
INPUT: '서귀포시 빵집 중에 이용건수 구간이 10~25%, 이용금액 구간은 25~50%에 해당하고 오후 2시에서 5시 사이의 이용 비중이 30%을 넘고 여성이용 비중은 20% 이상인 곳 중에 60대 이상 이용비중이 가장 높은 두 곳은?
QUERY: 
condition_CITY = data["CITY"] == "서귀포시"
condition_MCT_TYPE = data["MCT_TYPE"] == "베이커리"
condition_UE_CNT_GRP = data["UE_CNT_GRP"] == "10~25%"
condition_UE_AMT_GRP = data["UE_AMT_GRP"] == "25~50%"
condition_HR_14_17_UE_CNT_RAT = data["HR_14_17_UE_CNT_RAT"] > 0.3
condition_RC_M12_FME_CUS_CNT_RAT = data["RC_M12_FME_CUS_CNT_RAT"] >= 0.2
try : 
  answer = data[condition_CITY & condition_MCT_TYPE & condition_UE_CNT_GRP & condition_UE_AMT_GRP & condition_HR_14_17_UE_CNT_RAT & condition_RC_M12_FME_CUS_CNT_RAT].sort_values(by="RC_M12_AGE_OVR_60_CUS_CNT_RAT", ascending=False).iloc[:2]["MCT_NM"].to_list()
except : answer = ""

INPUT: 서귀포시 안덕면의 중국집에서 가장 높은 화요일 이용 비중인 곳은?
QUERY: 
condition_CITY = data["CITY"] == "서귀포시"
condition_REGION = data["REGION"] == "안덕면"
condition_MCT_TYPE = data["MCT_TYPE"] == "중식"
try : 
  answer = data[condition_CITY & condition_REGION & condition_MCT_TYPE].sort_values(by="TUE_UE_CNT_RAT", ascending=False).iloc[0]["MCT_NM"]
except : answer = ""

INPUT: '제주시 노형동에 있는 단품요리 전문점 중 이용건수가 상위 10%에 속하고 현지인 이용 비중이 가장 높은 곳은?'
QUERY: 
condition_CITY = data["CITY"] == "제주시"
condition_REGION = data["REGION"] == "노형동"
condition_MCT_TYPE = data["MCT_TYPE"] == "단품요리 전문"
condition_UE_CNT_GRP = data["UE_CNT_GRP"] == "상위 10% 이하"
try : 
  answer = data[condition_CITY & condition_REGION & condition_MCT_TYPE & condition_UE_CNT_GRP].sort_values(by="LOCAL_UE_CNT_RAT", ascending=False).iloc[0]["MCT_NM"]
except : answer = ""
"""

In [128]:
TEMPLATE = f"""Task: Generate Various 10(ten) Input and Pandas code (pair) for querying a DataFrame by referring to the EXAMPLE.

SCHEMA:
{SCHEMA}

EXAMPLE:
{EXAMPLE}

Please set conditions for a minimum of 5 and a maximum of 8 columns.
Never use any properties or relationships not included in the schema.
Never include triple backticks ``` and Never include python.
Please only return Output format(list of list).

Output format list of list:
[[INPUT, QUERY], [INPUT, QUERY] ...]"""

In [148]:
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(model='gpt-4o', temperature=0.5)

In [149]:
result = llm.invoke(TEMPLATE)

In [151]:
import pickle

# check
print(result.response_metadata['token_usage']['total_tokens'])

pairs = eval(result.content.replace('```', '').replace('json', ''))
# pairs = eval(result.content[result.content.index("["):].replace('```', '').replace('json', ''))
print(len(pairs))

for i, q in enumerate(pairs) :

    print(q[0])

    try :
        answer = ""
        exec(q[1])
        q.append(answer)
    except : 
        print(i)
        continue

total_data = list()

total_data.extend(pairs)

# 오류시 확인
if len(total_data[0]) == 3 :

    with open('total_data.pkl', 'rb') as f:
        existing_data = pickle.load(f)

    existing_data.extend(total_data)

    with open('total_data.pkl', 'wb') as f:
        pickle.dump(existing_data, f)

3751
10
제주시 커피숍 중에 월요일 이용 비중이 15% 이상이고 남성 이용 비중이 60% 이상인 곳은?
서귀포시 일식집 중에 금요일 이용 비중이 20% 이상이고 40대 이용 비중이 가장 높은 곳은?
대포동에 있는 치킨집 중에 토요일 이용 비중이 15% 미만이고 50대 이용 비중이 가장 높은 곳은?
제주시의 햄버거 가게 중에서 이용금액 구간이 50~75%이고 30대 이용 비중이 가장 높은 곳은?
서귀포시의 피자집 중에서 이용건수 구간이 25~50%이고 건당 평균 이용금액 구간이 10~25%이며 남성 이용 비중이 가장 높은 곳은?
제주시의 분식집 중에서 12시에서 13시 사이의 이용 비중이 50% 이상이고 20대 이하 이용 비중이 가장 높은 곳은?
서귀포시의 패밀리 레스토랑 중에서 일요일 이용 비중이 20% 이상이고 현지인 이용 비중이 50% 이상인 곳은?
대정읍의 맥주/요리주점 중에서 5시에서 11시 사이의 이용 비중이 20% 이상이고 60대 이상 이용 비중이 가장 낮은 곳은?
제주시의 포장마차 중에서 이용건수 구간이 90% 초과(하위 10% 이하)이고 14시에서 17시 사이의 이용 비중이 25% 미만인 곳은?
서귀포시의 야식집 중에 이용금액 구간이 상위 10% 이하이고 18시에서 22시 사이의 이용 비중이 10% 이상인 곳은?

In [160]:
save_df = pd.DataFrame(existing_data).drop_duplicates(subset=0).reset_index(drop=True)
save_df.columns = ['Input', 'Query', 'Output']

save_df.to_csv("eval_data.csv", index=False)